@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-gradient {
    animation: gradient-move 5s infinite;
  }
  
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .button-shine {
    background: linear-gradient(to right, #7f5af0, #2cb67d);
    box-shadow: 0px 0px 15px rgba(127, 90, 240, 0.5);
  }
  